---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// Custom font size overrides
body {
    font-size: 16px; // Set a smaller base font size
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit; // Ensure headings are scaled down
  }
  
  .post-content {
    font-size: 16px; // Override font size for post content
  }
  

  // Custom line height overrides
body {
  line-height: 1.75; // Increase line height for the entire site
}

.post-content {
  line-height: 1.8; // Specific line height for post content
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4; // Adjust line height for headings
}